.app {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 66% 33%;
  padding: 20px;
  @media screen and (max-width: 480px) {
    .app {
      background-color: red;
    }
  }
  .header {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-bottom: 20px;

    &__btn {
      margin-top: 0;
    }
  }

  .person {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  .chat-window {
    grid-row: 2;
    padding-left: 20px;

    &__btn {
      margin-top: 10px;
      margin-left: auto;
    }
  }

  .btn {
    background-color: rgb(98, 1, 239);
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }

  @media screen and(max-width:780px) {
    .person {
      grid-template-columns: 1fr 1fr;
    }
    .chat-window {
      grid-row: none;
      mat-card {
        margin-top: 30px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .person {
      grid-template-columns: 1fr;
    }
  }
}
